* {
    padding: 0;
    margin: 0;
}

button {
    margin-top: 2rem;
}

#send-message-btn {
    position: absolute;
    right: 15px;
    bottom: 30px;
    background-color: #f7a628;
}

.scrollable {
    overflow: scroll;
}

/* input underline focus color */
.input-field textarea:focus {
    border-bottom: 1px solid #f7a628 !important;
    box-shadow: 0 1px 0 0 #f7a628 !important;
}

.chat-message {
    margin: 20px;
}

#center-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfbf9;
}

#message-board {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 100px;
    background-color: #fffefd;
}

#message-window {
    position: relative;
    width: 60vw;
    height: 80vh;
    border: solid 1px #EBEBEB;
    padding: 5rem;
    background-color: white;
}

#input-area {
    position: absolute;
    left: 30px;
    right: 100px;
    bottom: 0px;
}