<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main>
        <form id="userInfo-form" action="{{ url_for('login') }}" method="post">
            <div id="msg">{{ msg }}</div>
            <div class="input-field">
                <label for="username">Username</label><br>
                <input type="text" name="username" ,="" id="username" required><br>
            </div>
            
            <div class="input-field">
                <label for="password">Password</label><br>
                <input type="password" name="password" ,="" id="password" required><br>
            </div>
            
            <button type="submit" id="loginBtn" class="btn waves-effect">Login</button>
            <button type="submit" id="registerBtn" class="btn waves-effect" style="background-color: #adada9;" formaction="{{ url_for('signUp') }}">Sign Up</button>
        </form>
    </main>
    <script type="text/javascript" src="/static/js/functions.js"></script>
</body>
</html>