<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/messagePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Message APP</title>
</head>
<body>
    <main id="center-main">
        <div id="message-window">
            <div class="scrollable" id="messages-area">
                <div class="chat-message">
                    <span style="color: #f7a628;">victorhsin</span><br>
                    <span style="color: #9E9E9E;">Hello World! This is the first message.</span> 
                </div>
                <div class="chat-message">
                    <span style="color: #f7a628;">ryancheng</span><br>
                    <span style="color: #9E9E9E;">I'm a fan of Derrick Rose. He's the youngest MVP in NBA.</span> 
                </div>
            </div>
            <div class="input-field" id="input-area">
                <textarea name="input-message" id="input-message" class="materialize-textarea" placeholder="Type your message here"></textarea>
            </div>
            <button type="button" id="send-message-btn" class="btn waves-effect">Send</button>
        </div>
    </main>
    <script type="text/javascript" src="/static/js/messagePage.js"></script>
</body>
</html>